summary {
    display: block;
}

summary::-webkit-details-market {
    display: none;
}

.sorting {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid $colorProductsShopingBorder;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: $widthSiteDesctop;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 30px;
}

.filter {
    box-sizing: border-box;
    padding-top: 13px;
    max-width: 360px;
    position: relative;
    z-index: 10;
    &__content {
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        background-color: #fff;
        padding-top: 0px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }
    &[open] {
        background: white;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, $alpha: 0.21);
    }
    &[open] .filter__heading {
        color: $colorSite;
    }
    &[open] path {
        fill: $colorSite;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }
    &__heading {
        @include textDecoration (600, 14px, 17px);
        color: black;
    }
    &__logo svg {
        width: 38px;
        height: 25px;
    }
    &__item {
        margin-top: 16px;
    }
    &__item[open] .filter__head {
        color: $colorSite;
    }
    &__head {
        @include textDecoration (400, 14px, 17px);
        color: $colorMobileMenuLink;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid $colorMobileMenuBG;
        border-left: 5px solid $colorSite;
    }
    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &__link {
        @include textDecoration (400, 14px, 17px);
        color: $colorMobileMenuLink;
        &:hover {
            color: $colorSite;
        }
    }
}

.sort {
    display: flex;
    gap: 18px;
    padding-top: 12px;
    &__details {
        position: relative;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__check {
        display: flex;
        align-items: center;
        gap: 9px;
        @include textDecoration (400, 14px, 16px);
        color: $colorMobileMenuLink;
    }
    &__heading {
        @include textDecoration (400, 14px);
        color: $colorMobileMenuLink;
    }
    &__box {
        z-index: 10;
        min-width: 80px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        left: -9px;
        top: 22px;
        background: white;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, $alpha: 0.21);
        padding: 7px 30px 11px 9px;
    }
}

.pagination {
    padding-bottom: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        &:hover path {
            fill: $colorSite;
        }
    }
}

.page {
    padding-left: 10px;
    padding-right: 10px;
    height: 43px;
    width: 284px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid $colorProductsShopingBorder;
    &__link {
        color: $colorPaginationLink;
        @include textDecoration (300, 16px);
    }
    &__devider {
        color: $colorPaginationLink;
    }
}

@media (max-width: 1280px) {
    .filter-sort {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .filter {
        &__heading {
            display: none;
        }
    }
    .sort {
        &__heading {
            @include textDecoration (400, 10px);
        }
    }
}