.footer {
    background-color: #222224;
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 104px;
        padding-bottom: 104px;
        &__item {
            width: 26%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            &__title {
                color: #FBFBFB;
                font-family: Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &__text {
                color: #FBFBFB;
                text-align: center;
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url(img/footer_bg.jpg);
        background-size: cover;
        height: 448px;
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
        }
        &__item1 {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            gap: 30px;
        }
        &__item2 {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }
        &__text {
            color: #222224;
            text-align: center;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &__dif {
                font-style: italic;
            }
        }
        &__title {
            color: #222224;
            text-align: center;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
        }
        &__subtitle {
            font-size: 18px;
            font-weight: 400;
        }
        &__input_box {
            color: #222224;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: 0;
            background-color: unset;
        }
        &__button {
            border: 0;
            color: white;
            text-align: center;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background-color: unset;
        }
    }
    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #222224;
        &__text {
            color: #FBFBFB;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__links {
            display: flex;
            flex-direction: row;
            gap: 7.5px;
            &__item {
                margin: 24px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 32px;
                height: 32px;
            }
            &__item:hover {
                background-color: #F16D7F;
            }
            &__item:hover path {
                fill: white;
            }
        }
    }
}