    .reg-content {
        margin-top: 64px;
        margin-bottom: 96px;
        display: flex;
        flex-direction: row;
        gap: 128px;
        &__left {
            display: flex;
            flex-direction: column;
            width: 32%;
        }
        &__right {
            width: 57%;
        }
        &__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 21px;
        }
        &__header {
            color: $colorElementBG;
            @include textDecoration (300, 16px);
        }
        &__input {
            padding-top: 13px;
            padding-bottom: 16px;
            padding-left: 17px;
            color: $colorCartFormText;
            @include textDecoration (300, 13px);
        }
        &__radio {
            margin-top: 13px;
            margin-bottom: 13px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        &__radio-btn {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        &__radio-btn+label::before {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            border: 1px solid $colorCartFormText;
            border-radius: 50%;
            margin-right: 10px;
            box-sizing: border-box;
        }
        &__radio-btn:checked+label::before {
            border-color: $colorSite;
            background-color: white;
            border: 3px solid $colorSite;
        }
        &__radio-label {
            color: $colorCartFormText;
            @include textDecoration (300, 11px);
        }
        &__text {
            padding-top: 15px;
            padding-bottom: 39px;
            color: $colorCartFormText;
            @include textDecoration (300, 13px);
        }
        &__button {
            width: 46%;
            padding: 16px 29px;
            background: $colorSite;
            color: white;
            border: 1px solid white;
        }
        &__button:hover {
            color: $colorSite;
            border: 1px solid $colorSite;
            background: white;
        }
        &__button:hover path {
            fill: $colorSite;
        }
        &__title {
            padding-bottom: 22px;
            color: black;
            @include textDecoration (300, 24px);
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &__list-item:before {
            content: "\2714";
        }
        &__list-item {
            list-style-type: none;
            color: black;
            @include textDecoration (300, 24px);
        }
    }
    
    .devider {
        padding-left: 23px;
    }
    
    @media (max-width: 1280px) {
        .reg-content {
            gap: 22px;
            &__left {
                width: 47%;
            }
            &__right {
                width: 46%;
            }
            &__title {
                @include textDecoration (300, 16px);
            }
            &__list-item {
                @include textDecoration (300, 16px);
            }
        }
    }
    
    @media (max-width: 767px) {
        .reg-content {
            flex-direction: column;
            &__left {
                width: 100%;
            }
            &__right {
                width: 100%;
            }
        }
    }