$colorSite: #F16D7F;
$colorElementBG:#222224;
$colorMobileMenuBG: #e8e8e8;
$colorMobileMenuLink:#6F6E6E;
$colorProduckAbout:#9F9F9F;
$colorPoructItemBG:#F8F8F8;
$colorPoructItemAbout:#5D5D5D;
$colorAdvertisingBG: #F1E4E6;
$colorSubscribeFormInputBoxBG:#E1E1E1;
$colorProductsHeaderNavBG:#F8F3F4;
$colorProductsBreadCrumbsLink:#636363;
$colorProductsCarnavalBG:#F7F7F7;
$colorProductsShopingBorder:#EAEAEA;
$colorsProductsShopingSubtitle:#4D4D4D;
$colorsProductsShopingAbout:#5E5E5E;
$widthSiteDesctop: 1140px;
$widthSiteTablet: 768px;
$widthSitePhone: 384px;
$productGripGap: 16px;
$quantityProductAtString: 3;
// $widthProductGrip: (($widthSite - ( $productGripGap * ($quantityProductAtString - 1))) / $quantityProductAtString);