@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  min-height: 75px;
  background: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__checkbox {
  position: absolute;
  visibility: hidden;
  left: -99999px;
}
.header__checkbox:checked ~ .mobile-menu {
  right: 0;
}
.header__link:hover path {
  fill: #F16D7F;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  transition: right 0.6s;
  width: 232px;
  background: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}
.mobile-menu__link-site {
  align-items: center;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: none;
}
.mobile-menu__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: Black;
}
.mobile-menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
}
.mobile-menu__link:hover {
  color: #F16D7F;
}
.mobile-menu__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #F16D7F;
}
.mobile-menu__list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}
.mobile-menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.products {
  margin-bottom: 64px;
}
.products__header {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  color: #222224;
  margin-bottom: 6px;
}
.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  margin-top: 6px;
  color: #9F9F9F;
  margin-bottom: 48px;
}
.products__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
.products__item {
  position: relative;
  display: block;
}
.products__item__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid white;
  width: 139px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: white;
}
.products__item__content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
}
.products__item__heading {
  color: black;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  font-style: normal;
}
.products__item__text {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
}
.products__item__price {
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.products__item:hover .products__img {
  filter: brightness(0.5);
}
.products__item:hover .products__item__add {
  display: flex;
}

.sale {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}
.sale__button {
  color: #F16D7F;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
  padding: 14px 39px;
  border: 1px solid #F16D7F;
}
.sale__button:hover {
  color: white;
  background-color: #F16D7F;
}

.saling {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 96px;
}
.saling__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.saling__content__item {
  position: relative;
}
.saling__content__item__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saling__content__item__about {
  color: white;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.saling__content__item__heading {
  color: #F16D7F;
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
}
.saling__img {
  width: 100%;
}

.advertising {
  display: flex;
  flex-direction: row;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  margin-bottom: 65px;
}
.advertising__img {
  width: 50%;
}
.advertising__img__image {
  width: 100%;
}
.advertising__content {
  padding-left: 64px;
}
.advertising__content__text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 290px;
}
.advertising__content__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  color: #222224;
}
.advertising__content__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  font-style: normal;
  color: #222224;
}

.dif__color {
  color: #F16D7F;
}

.footer {
  background-color: #222224;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 104px;
}
.footer__menu__item {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer__menu__item__title {
  color: #F8F8F8;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  font-style: normal;
}
.footer__menu__item__text {
  color: #F8F8F8;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url(img/footer_bg.jpg);
  background-size: cover;
  height: 448px;
}
.footer__content__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.footer__content__item1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 30px;
}
.footer__content__item2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footer__content__text {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  font-style: normal;
}
.footer__content__text__dif {
  font-style: italic;
}
.footer__content__title {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  font-style: normal;
}
.footer__content__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
}
.footer__content__input_box {
  color: #222224;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  border: 0;
  background-color: unset;
}
.footer__content__button {
  border: 0;
  color: white;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  background-color: unset;
}
.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
}
.footer__bottom__text {
  color: #F8F8F8;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.footer__bottom__links {
  display: flex;
  flex-direction: row;
  gap: 7.5px;
}
.footer__bottom__links__item {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 32px;
  height: 32px;
}
.footer__bottom__links__item:hover {
  background-color: #F16D7F;
}
.footer__bottom__links__item:hover path {
  fill: white;
}

.subscribe_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subscribe_form__inputbox {
  background: #E1E1E1;
  padding: 7px 0px 7px 22px;
  width: 256px;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-width: 0px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe_form__button {
  border-width: 0px;
  background: #F16D7F;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 20px;
}

@media (max-width: 1280px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .advertising {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .advertising__content {
    padding-left: 39px;
  }
  .advertising__content__text {
    margin-top: 138px;
  }
  .advertising__content__title {
    font-size: 44px;
  }
  .advertising__content__subtitle {
    font-size: 24px;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
  .footer__menu__item {
    width: 40%;
  }
  .footer__content {
    height: 693px;
  }
  .footer__content__items {
    flex-direction: column;
    gap: 48px;
  }
  .footer__content__item1 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .advertising__img {
    display: none;
  }
  .advertising__content {
    margin: 148px 56px;
    padding-left: 56px;
  }
  .saling__content {
    flex-direction: column;
  }
  .footer__menu__item {
    width: 80%;
  }
  .footer__content {
    height: 550px;
  }
  .footer__content__text {
    font-size: 18px;
  }
  .footer__content__subtitle {
    font-size: 14px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
  }
  .footer__bottom__text {
    padding-bottom: 9px;
  }
}
.prod__heading {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prod__heading__title {
  color: #F16D7F;
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
}

.breadcrumb__link {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}
.breadcrumb__link:hover {
  color: #F16D7F;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs__item:last-child .breadcrumb__link {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.carnaval {
  height: 777px;
  position: relative;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carnaval__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}
.carnaval__arrow:hover path {
  fill: #F16D7F;
}
.carnaval__arrow__left {
  left: 0;
}
.carnaval__arrow__right {
  right: 0;
}

.shoping {
  background-color: white;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  margin: -65px auto 0;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shoping__title {
  color: #F16D7F;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
}
.shoping__line {
  width: 5%;
  height: 3px;
  background: #F16D7F;
  margin-top: 12px;
  margin-bottom: 12px;
}
.shoping__subtitle {
  color: #4D4D4D;
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
}
.shoping__about {
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  width: 50%;
  padding-top: 48px;
  padding-bottom: 32px;
}
.shoping__price {
  color: #F16D7F;
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
}
.shoping__bigline {
  width: 56%;
  height: 1px;
  background: #EAEAEA;
  margin-top: 65px;
  margin-bottom: 65px;
}
.shoping__droplists {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 48px;
}
.shoping__droplists__drop {
  position: relative;
}
.shoping__droplists__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shoping__droplists__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 80px;
  padding: 7px 9px 11px;
  background: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  top: 22px;
  left: -9px;
  z-index: 1;
}
.shoping__add {
  width: 212px;
  height: 48px;
  display: flex;
  border: 1px solid #F16D7F;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.shoping__add__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #F16D7F;
}

summary {
  list-style-type: none;
}

.size__box {
  position: absolute;
  width: 80px;
  background: white;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 9px 30px 9px 9px;
}

summary {
  display: block;
}

summary::-webkit-details-market {
  display: none;
}

.sorting {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  box-sizing: border-box;
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.filter__content {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: black;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__head {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #e8e8e8;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  display: flex;
  gap: 18px;
  padding-top: 12px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  color: #6F6E6E;
}
.sort__heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
}
.sort__box {
  z-index: 10;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 22px;
  background: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}

.pagination {
  padding-bottom: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}
.pagination__arrow:hover path {
  fill: #F16D7F;
}

.page {
  padding-left: 10px;
  padding-right: 10px;
  height: 43px;
  width: 284px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid #EAEAEA;
}
.page__link {
  color: #C4C4C4;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.page__devider {
  color: #C4C4C4;
}

.cart__products {
  margin-top: 96px;
  margin-bottom: 128px;
}
.cart__products__header {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  color: #222224;
  margin-bottom: 6px;
}
.cart__products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  margin-top: 6px;
  color: #9F9F9F;
  margin-bottom: 48px;
}
.cart__products__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart__products__content__left {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__products__content__left__buttons {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart__products__content__right {
  width: 32%;
  display: flex;
  flex-direction: column;
}
.cart__products__content__right__heading {
  padding-bottom: 20px;
  color: #222224;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.cart__products__content__right__item {
  margin-bottom: 57px;
}
.cart__products__content__right__item__data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 17px;
  border: 0 solid transparent;
  gap: 20px;
  margin-bottom: 24px;
}
.cart__products__content__right__item__data > input {
  height: 45px;
  color: #B1B1B1;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
  border: 1px solid #A4A4A4;
  vertical-align: middle;
  padding-left: 17px;
  color: black;
  font-weight: 300;
  font-size: 13px;
  line-height: normal;
  font-style: normal;
}
.cart__products__img {
  width: 40%;
}
.cart__products__item {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__products__item__content {
  position: relative;
  width: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
}
.cart__products__item__heading {
  width: 58%;
  padding-bottom: 42px;
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
}
.cart__products__item__text {
  padding-bottom: 6px;
  color: #575757;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  font-style: normal;
}
.cart__products__item__price {
  color: #F16D7F;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  font-style: normal;
}

.cart__item__button {
  border: 1px solid #4A4A4A;
  color: #4A4A4A;
  background: white;
  font-weight: 300;
  font-size: 11px;
  line-height: normal;
  font-style: normal;
  padding: 11px 15px;
}

.cart__item__button:hover {
  border: 1px solid #F16D7F;
  color: white;
  background: #F16D7F;
}

.quantity-count {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.quantity-count > input {
  width: 44px;
  height: 25px;
  color: #636363;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
  border: 1px solid #EAEAEA;
  text-align: right;
  vertical-align: middle;
}

.drop {
  position: absolute;
  left: 350px;
  top: 28px;
}

.left__btn {
  background: transparent;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  color: black;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
}

.left__btn:hover {
  border: 1px solid #F16D7F;
  color: white;
  background: #F16D7F;
}

.address {
  width: 100%;
  padding-bottom: 57px;
}

.cost {
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 39px 34px 42px 44px;
  background: #F5F3F3;
}
.cost__text {
  color: #4A4A4A;
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
  font-style: normal;
  padding-bottom: 12px;
}
.cost__text__price {
  padding-left: 20px;
}
.cost__total {
  color: #222224;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.cost__total__dif-color {
  padding-left: 30px;
  color: #F16D7F;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.cost__line {
  height: 1px;
  background: #E1E1E1;
  margin-top: 21px;
  margin-bottom: 17px;
}

.right__btn {
  text-align: center;
  width: 100%;
  padding: 16px 0px;
  background-color: #F16D7F;
  border: 0px solid #F16D7F;
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}

.right__btn:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
  background: white;
}

.reg-content {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reg-content__left {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.reg-content__right {
  width: 57%;
}
.reg-content__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.reg-content__header {
  color: #222224;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}
.reg-content__input {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: normal;
  font-style: normal;
}
.reg-content__radio {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.reg-content__radio-btn {
  margin-right: 10px;
}
.reg-content__radio-label {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 11px;
  line-height: normal;
  font-style: normal;
}
.reg-content__text {
  padding-top: 15px;
  padding-bottom: 39px;
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: normal;
  font-style: normal;
}
.reg-content__button {
  width: 46%;
  padding: 16px 29px;
  background: #F16D7F;
  color: white;
  border: 1px solid white;
}
.reg-content__button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: white;
}
.reg-content__button:hover path {
  fill: #F16D7F;
}
.reg-content__title {
  padding-bottom: 22px;
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
}
.reg-content__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reg-content__list-item:before {
  content: "✔";
}
.reg-content__list-item {
  list-style-type: none;
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
}

.devider {
  padding-left: 23px;
}/*# sourceMappingURL=style.css.map */